.app {
    background-color: #6e1423;
    height: 100vh;
    margin: 0;
    display: flex;
    place-content: center;
    place-items: center;
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
        display: none !important;
    }

    .section-component {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        scroll-snap-type: y proximity;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display:none;
        }

        >* {
            width: 100vw;
            scroll-snap-align: start;
        }
    }

}
